
/* Page 1 initialisation */
.main{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    zoom: 1.2;
}

.main-child {
   width: 60vh;

}

#micro_test_bar {
    width: 100%;
}

.navigation{
    width: 100%;
    margin-top: 8%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.navigation span:hover, .navigation a:hover{
    color: deeppink;
}

.navigation i{
    font-size: 3rem;
}
.sex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sex label {
    margin-right: 50px;
}

.sex input {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.age {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.age input {
    height: 30px;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;
}

.alert{
    color: red;
}

/* Page 2 record */
#record .text{
    border: 1px solid #2699FB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100px;
}

#record_list{
    position: absolute;
    top: 12%;
    right: 2vh;
}


#record_list li{
    list-style: none;
}

.btRecord{
    color: red;
}

.progression{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progression #percent{
    margin-left:10px;
    color: cornflowerblue;
}

/* last page */
#remerciement a{
    margin-top: 5%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border: 3px solid #2c3e50;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#remerciement a:hover{
    transform: scale(1.1);
}

/* Mobile version */
@media screen and (max-width:800px) {
    .main {
      margin-top: 15%;
      zoom: 0.5;
      font-size: 1.5rem;
    }
    .main-child{
        width: 80vh;
    }
  }

  /* Position of the record list */
  @media screen and (max-width:1650px) {
      #record_list{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
      }
      
  }